# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!README.md

!Client/
Client/*
!Client/*.c
!Client/*.h


!Serveur/
Serveur/*
!Serveur/*.c
!Serveur/*.h
!Serveur/users
Serveur/users/*